@Model Conferma
@{
    ViewData["Title"] = "Conferma";
}
<h1 class="display-4">Pagina di Conferma</h1>
<div class="alert alert-success mt-4" role="alert">
@Model.Nome, @Model.Cognome, @Model.Email, @Model.Data, @Model.Sesso, @Model.Sesso        
</div>
